$black: "#112d58";
$grey: rgba(45, 32, 88, 0.5);
$dusk-blue: "#254c86";
$slate-blue: "#1f3a63";
$white: "#ffffff";
$grey-blue: "#303c62";
$mid-blue: "#2963bb";
$cobalt: "#18386b";
$bluish-12: rgba(33, 138, 218, 0.12);
$bright-cyan: "#4ec7f5";
$cornflower: "#5c75fe";
$grey2: rgba(45, 32, 88, 0.4);
