@import "../utilities/variables.scss";

// 992px window width and more

.wrapper {
  // @include lg {
  display: grid;
  grid-template-columns: 50%;
  grid-auto-rows: minmax(100px, auto);
  // }
}
.one {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
.two {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.picture {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.content {
  margin-top: 20%;
  margin-left: 10px;
  margin-right: 10px;
}
.title {
  text-align: center;
  font-family: poppinsMedium;
  font-size: 40px;
  width: 80%;
  color: $black;
}
.description {
  text-align: center;
  font-family: rubikRegular;
  font-size: 21px;
  color: $black;
}
