.justifyPicture{
text-align: center;
}
.title {
  font-family: poppinsMedium;
  color: $black;
}
.description {
  font-family: rubikRegular;
  color: $grey;
}

/*  For Desktop   */
@media (min-width: 769px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);   
   // grid-template-rows: minmax(300px, auto);
    grid-template-rows:  minmax(100px, auto);

  }
  .wrapperInverse{
    display: grid;
    grid-template-columns: repeat(7, 1fr);   
    grid-template-rows: repeat(4, 1fr); 
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }     
  .right {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
  }

  .leftInverse {
  
    grid-column: 2 / 4;
    grid-row: 1 / 2;
 
  }     
  .rightInverse {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 5 / 7;
    grid-row: 1 / 2;
  }




.picture {
  width: 80%;
}
.pictureLeft{
  width: 70%;
}
.content{
margin-top: 20%;
}
.title {
  font-size: 25px;
  width: 100%;
}
.description {
  font-size: 16px;
}
}

/*  For Mobile  */
@media (max-width: 768px) {

  .wrapper {
    display: flex;
    flex-direction: column;

  }
  .wrapperInverse{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .picture {
    width: 50%;
  }
  .pictureLeft{
    width: 50%;
  }
  .content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    }
  .title {
    font-size: 18px;
  }
  .description {
    font-size: 14px;
    width:80%
  }
}
@media (min-width: 770px) and (max-width:930px) {
  .title {
    font-size: 18px;
    width: 100%;
  }
  .description {
    font-size: 9px;
  }

}

