.header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 10vh minmax(140px, auto);
  grid-column-gap: 3vw;
  position: relative;

  &__navigator {
    grid-column: 2/8;
    grid-row: 1/2;
    display: flex;
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 1vw;
  }

  &__oval {
    grid-column: 1/3;
    grid-row-start: 3;
    width: 80%;
  }
  &__image {
    grid-column: 4/-1;
    grid-row: 1/4;
    width: 100%;
  }
  &__body {
    grid-column: 2/6;
    grid-row: 2/3;
  }

  &__title {
    text-align: left;
    font-family: poppinsMedium;
    font-size: 32px;
    color: $black;
  }
  &__subtitle {
    text-align: left;
    font-family: rubikRegular;
    font-size: 18px;
    color: $grey;
  }
}

.navigator__link > a {
  text-decoration: none;
  color: white;
  padding: 0 0 0 4vw;
}

.navigator__name > a {
  text-decoration: none;
  color: $cornflower;
  font-family: poppinsMedium;
  font-size: 20px;
  font-weight: 900;
}
.navigator__name {
  margin-right: auto;
}

@media (max-width: 910px) {
  .header__navigator {
    grid-column: 2/-1;
  }
  .navigator__link > a {
    padding: 0 3vw;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 22px;
  }
  .header__subtitle {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .header {
    grid-row-gap: 10vw;
    grid-column-gap: 0;
    &__oval {
      display: none;
    }
    &__image {
      grid-column: 1/-1;
      grid-row: 1/4;
      width: 100%;
    }
    &__body {
      grid-column: 2/8;
      grid-row: 3/5;
    }
  }
}
