.search {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-image: url("../../images//bg4.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__header {
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
  }

  &__title {
    color: white;
    font-size: 14px;
    font-family: rubikRegular;
  }

  &__wrapper {
    grid-column: 3/7;
    height: 50px;
    border-radius: 8px;
    display: flex;
    background-color: white;
    align-content: center;
    justify-content: space-between;
    margin-bottom: -30px;
    margin-top: 60px;
    box-shadow: 0 10px 30px -10px $bright-cyan;
    padding: 5px 10px;
    align-items: center;
  }
  &__input {
    height: 40px;
    border: 0;
    font-family: NunitoSans;
    font-size: 16px;
    color: $black;
    padding-left: 10px;
    outline: none;
  }
  &__input::placeholder {
    color: $grey;
    font-size: 14px;
    font-family: NunitoSans;
  }
  &__button {
    background-color: $cornflower;
    color: white;
    font-family: poppinsMedium;
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    height: max-content;
  }
}
.jobs-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 70px;
}
.app-name {
  color: white;
  font-weight: 900;
  font-family: poppinsMedium;
  font-size: 20px;
  padding: 20px;
  margin: 0;
  text-decoration: none;
  position: absolute;
}
@media (max-width: 706px) {
  .search {
    &__wrapper {
      flex-direction: column;
      padding: 10px 0;
      align-items: flex-start;
    }
    &__button {
      margin-top: 50px;
      width: 100%;
    }
    &__input {
      width: 90%;
    }
    .app-name {
      padding: 10px;
    }
  }
  .jobs-wrapper {
    margin-top: 130px;
  }
}
